.main-background {
	background-color: #0b0
}
#cab {
	height: 10rem;
	background-color: #afa;
}

.card {
	float: left;
	margin: 0.5rem;
	width: 18rem;
	min-height: 25rem;
	position: relative;
}

.card .btn {
	position: absolute;
	bottom: 1rem;
}

.imgDisplay {
	width: 18rem;
	height: 10rem;
	overflow: hidden;
}
